* {font-family: 'sans-serif'}

body {
  margin: 0;
  padding: 0;
  display:flex;
  align-items:center;
  justify-content:center;
  width:100vw;
  overflow:hidden;
}

main {
  margin-top: 100px;
  box-shadow: 0 0 8px #dddddd70;
  width: 700px;
  padding: 30px;
  border-radius: 20px;
}

.input-container {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

input {
  background: #f1f1f1;
  border:3px solid #f1f1f1;
  padding: 15px;
  width:100%;
  max-width:500px;
  border-radius: 15px;
  outline:none;
  flex: 4;
}

input:focus{
  background:#fff;
}

button {
  margin-left:10px;
  font-weight:bold;
  cursor:pointer;
  flex: 1;
  background: pink;
  border:none;
  padding: 15px 30px;
  width: 100%;
  border-radius: 15px;
  transition:0.2s linear;
}

button:active{
  transform:scale(0.8)
}

.todo-items {
  padding:0;
}

.todo-item {
  padding: 10px 20px;
  box-shadow: 0 0 8px #dddddd70;
  border-radius: 15px;
  margin: 20px 0;
  display:flex;
  align-items:center;
  transition:0.2s linear;
  justify-content:space-between;
  user-select: none;
}

.todo-item:hover{
  box-shadow:none;
}

.remove-todo-btn {
  font-weight: bold;
  cursor:pointer;
  margin-left: 20px;
}

.remove-todo-btn:hover{
  color: red;
}

.empty-state{
  font-size: 2rem;
  opacity: .3;
}

h1,
.empty-state{
  text-align: center;
  margin:40px 0;
}